* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --yellow: #ffd972;
  --green: #a7e8bd;
  --pink: #efa7a7;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  width: 100%;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-family: lato;
}

.hidden {
  display: none;
}

@font-face {
  font-family: caveat;
  src: url(../assets/fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: caveat-bold;
  src: url(../assets/fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: lato;
  src: url(../assets/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: lato-bold;
  src: url(../assets/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: lato-italic;
  src: url(../assets/fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: lato-black;
  src: url(../assets/fonts/Lato-Black.ttf);
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
nav .links a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-family: caveat;
  font-size: 25px;
}
nav .links .login {
  background-color: var(--yellow);
  padding: 10px 20px;
  border-radius: 25px;
}

footer {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
footer .links,
footer p {
  font-family: lato-italic;
  display: flex;
}
footer .links p,
footer .links a,
footer p p,
footer p a {
  margin-left: 20px;
  font-size: 15px;
}
footer .footer-icons img {
  width: 25px;
  margin-left: 40px;
}

.login-wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.login-wrapper h2 {
  font-family: lato-black;
  font-size: 30px;
}
.login-wrapper .form * {
  display: block;
}
.login-wrapper .form input[type=text],
.login-wrapper .form input[type=password],
.login-wrapper .form input[type=email] {
  border: none;
  border-bottom: 3px black solid;
  background-color: var(--yellow);
  margin-top: 50px;
  width: 250px;
  outline: none;
}
.login-wrapper .form input[type=submit] {
  font-family: caveat;
  font-size: 25px;
  width: 250px;
  height: 52px;
  margin-top: 50px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 130px;
  cursor: pointer;
}

.your-recipes-wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.your-recipes-wrapper #user-hello {
  font-size: 25px;
  font-weight: bold;
  margin-left: 100px;
  margin-top: 100px;
}
.your-recipes-wrapper .recip-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
}
.your-recipes-wrapper .recip-container .rImg {
  position: relative;
}
.your-recipes-wrapper .recip-container .rImg img {
  width: 300px;
  height: 263px;
  border-radius: 20px;
}
.your-recipes-wrapper .recip-container .rImg a {
  position: absolute;
  right: 90px;
  top: 120px;
  width: 127px;
  height: 42px;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: var(--yellow);
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16);
}
.your-recipes-wrapper .recip-container .recipe {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 524px;
  margin-top: 52px;
}
.your-recipes-wrapper .recip-container .recipe .rDescription {
  width: 224px;
  height: 263px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
}
.your-recipes-wrapper .recip-container .recipe .rDescription h3 {
  margin: 0 auto;
  font-size: 20px;
  border-bottom: 1px solid black;
  width: 130px;
  margin-bottom: 20px;
  margin-top: 45px;
  text-align: left;
}
.your-recipes-wrapper .recip-container .recipe .rDescription .description {
  font-size: 13px;
}
.your-recipes-wrapper .recip-container .recipe .rDescription .recipe-details {
  display: flex;
  align-items: center;
  width: 100px;
  height: 24px;
  margin: auto;
  margin-top: 22px;
}
.your-recipes-wrapper .recip-container .recipe .rDescription .recipe-details img {
  width: 23px;
  height: 24px;
}
.your-recipes-wrapper .recip-container .recipe .rDescription .recipe-details p {
  font-family: Lato-Regular;
  font-size: 14px;
  max-width: 80px;
  padding-top: 15px;
}
.your-recipes-wrapper .recipeButtons {
  margin-top: 15px;
}
.your-recipes-wrapper .recipeButtons a {
  height: 42px;
  width: 127px;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: var(--yellow);
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.formHolder,
.submit {
  max-width: 500px;
  margin: 0 auto;
  /* background-color: seagreen; */
  position: relative;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  font-size: 14px;
  padding-left: 20px;
}

input[type=submit] {
  background-color: var(--yellow);
}

.formIngredients,
.formInstructions {
  position: relative;
}

.addButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--pink);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.basicInfo,
.formIngredients,
.formInstructions {
  margin-bottom: 110px;
}

#recipeSubmit {
  background-color: var(--pink);
  border: none;
  width: 422px;
  height: 52px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 100px;
  border-radius: 25px;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16);
}

/*# sourceMappingURL=styles.css.map */
