#user-hello {
  font-size: 25px;
  font-weight: bold;
  margin-left: 200px;
  // margin-top: 100px;
}

.your-recipes-wrapper {
  width: 80%;
  display: flex;
  // align-items: center;
  // justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
  // background-color: red;

  .recip-container {
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 200px;
    // background-color: blue;
    width: 300px;

    .rImg {
      position: relative;

      img {
        width: 300px;
        height: 263px;
        border-radius: 20px;
        // background-color: var(--yellow);
      }

      a {
        position: absolute;
        right: 90px;
        top: 120px;
        width: 127px;
        height: 42px;
        padding: 10px 20px;
        border-radius: 25px;
        background-color: var(--yellow);
        text-align: center;
        font-size: 20px;
        text-decoration: none;
        color: black;
        box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16);
      }
    }

    .recipe {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 524px;
      margin-top: 52px;

      .rDescription {
        width: 224px;
        height: 263px;
        border-radius: 20px;
        background-color: white;
        text-align: center;

        h3 {
          margin: 0 auto;
          font-size: 20px;
          border-bottom: 1px solid black;
          width: 130px;
          margin-bottom: 20px;
          margin-top: 45px;
          text-align: left;
        }

        .description {
          font-size: 13px;
        }

        .recipe-details {
          display: flex;
          align-items: center;
          width: 100px;
          height: 24px;
          margin: auto;
          margin-top: 22px;

          img {
            width: 23px;
            height: 24px;
          }

          p {
            font-family: Lato-Regular;
            font-size: 14px;
            max-width: 80px;
            padding-top: 15px;
          }
        }
      }
    }
  }
  .recipeButtons {
    margin-top: 15px;
    a {
      height: 42px;
      width: 127px;
      padding: 10px 20px;
      border-radius: 25px;
      background-color: var(--yellow);
      text-align: center;
      font-size: 20px;
      text-decoration: none;
      color: black;
      box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16);
    }
  }
}
